@import "./base/settings";
@import "./base/base";

.game  { 
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    background-color: darkkhaki;
    margin: 0;
}